<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<p style="font-style:italic;text-align:center">- English version of this message below-</p>

<p>Beste {{ commonName }},</p>

<p>Bedankt voor het registreren van je token. Je token is bijna klaar voor gebruik. Ga naar de Service Desk om je token te laten activeren. </p>
<p>Neem aub het volgende mee:</p>
<ul>
    <li>Je token</li>
    <li>Een geldig legitimatiebewijs (paspoort, rijbewijs of nationale ID-kaart)</li>
    <li>De registratiecode uit deze e-mail</li>
</ul>

<p style="font-size: 150%; text-align: center">
    <code>{{ registrationCode }}</code>
</p>

<p>Service Desk medewerkers die je token kunnen activeren:</p>

{% if ras is empty %}
    <p>Er zijn geen Service Desk medewerkers beschikbaar.</p>
{% else %}
    <ul>
        {% for ra in ras %}
            <li>
                <address>
                    <strong>{{ ra.commonName }}</strong><br>
                    {{ ra.location }}<br>
                    {{ ra.contactInformation }}
                </address>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<hr>

<p>Dear {{ commonName }},</p>

<p>Thank you for registering your token, you are almost ready now. Please visit the Service Desk to activate your token.</p>
<p>Please bring the following:</p>
<ul>
    <li>Your token</li>
    <li>A valid identity document (passport, drivers license or national ID-card.</li>
    <li>The registration code from this e-mail</li>
</ul>

<p style="font-size: 150%; text-align: center">
    <code>{{ registrationCode }}</code>
</p>

<p>Service Desk employees authorized to activate your token:</p>

{% if ras is empty %}
    <p>No Service Desk employees are available.</p>
{% else %}
    <ul>
        {% for ra in ras %}
            <li>
                <address>
                    <strong>{{ ra.commonName }}</strong><br>
                    {{ ra.location }}<br>
                    {{ ra.contactInformation }}
                </address>
            </li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>
