<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear {{ commonName }},</p>

<p>
    To complete the registration process for your token you must visit a registration officer. Bring your registration
    code and a valid identity document (passport, drivers license, or National ID card) to your registration officer.
</p>

<hr>

<p style="font-size: 150%; text-align: center">
    <code>{{ registrationCode }}</code>
</p>

<hr>

<h2>List of registration officers</h2>

{% if ras is empty %}
    <p>No registration officers are available within your institution.</p>
{% else %}
    <ul>
        {% for ra in ras %}
            <li>
                <address>
                    <strong>{{ ra.commonName }}</strong><br>
                    {{ ra.location }}<br>
                    {{ ra.contactInformation }}
                </address>
            </li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>
